/*Colors used:
blush:#F8ECDD
gold: #E1B15D
nude: #ECCCAD
*/
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 26px;
    font-weight: 600;
}

img {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #F8ECDD;
    text-decoration: none;
}

a:active {
    color: black;
}

.button {
    display: inline-block;
    background-color: #ECCCAD;
    color: black;
    font-weight: 400;
    padding: 15px;
}

.button:hover {
    opacity: 0.7;
    text-decoration: none;
}

.button:active {
    background-color: #E1B15D;
}

.button.contact {
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    border: 2px solid #ECCCAD;
}

.button.contact:hover {
    background-color: #ECCCAD;
}

.button.contact:active {
    background-color: #E1B15D;

}

header {
    background-color: #ECCCAD;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 3px solid #E1B15D;
    position: relative;
    .css-box-shadow width: [object Object]px;
    height: [object Object]px;
    background: #F8ECDD;
    border: solid #BDBDBD 1px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}


svg {
    width: 50%;
}

/*Layout styling*/
.container {
    padding: 0 15px
}

.row {
    margin: 25px 0;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #E1B15D;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.logo {
    max-width: 250px;
}

nav>ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}

nav>ul>li>a:hover {
    color: #E1B15D;
}

nav>ul>li>a:active {
    color: white;
}

#hero {
    background-color: #ECCCAD;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}